body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0;
}
#start , #number_of_objects , #status{
    font-size: 18px;
}

.copy_right_footer{
    width : 100%;
    bottom: 0;
    position: fixed;
    background-color: gray;
    text-align: center;
    line-height: 3;
    color: white;
}

canvas{
    box-shadow: 5px  5px  5px  white;
    margin-top: 21;
    border-radius: 5px;
    border:5px white solid;                                       
}
